layout python python3

if command -v initdb >/dev/null; then
  # Adapted from the direnv wiki: https://github.com/direnv/direnv/wiki/Postgresql

  # Place the data directory inside the project directory
  export PGDATA="$(direnv_layout_dir)/postgres"
  # Place Postgres' Unix socket inside the data directory
  export PGHOST="$PGDATA"

  export LD_DB_NAME=linkding
  export LD_DB_USER="$USER"
  export LD_DB_HOST="$PGHOST"

  if [[ ! -d "$PGDATA" ]]; then
    # If the data directory doesn't exist, create an empty one, and...
    initdb
    # ...configure it to listen only on the Unix socket, and...
    cat >> "$PGDATA/postgresql.conf" <<-EOF
      listen_addresses = ''
      unix_socket_directories = '$PGHOST'
EOF
    # ...create a database using the name Postgres defaults to.
    echo "CREATE DATABASE $LD_DB_NAME;" | postgres --single -E postgres
  fi
fi
